/*032b13 */
body
    {color:#fefefe;background-color:#001b0c ;margin:0 auto;padding:1em 0}
a
    {color:#358245;text-decoration:none}

a:hover {
  color: #00b255;
}

a:active {
  color: #1d4f75; /* ????? */
} 

h1 {
    font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 40px;
    line-height: 48px;
}
h2 {
    font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 32px;
    line-height: 40px;
}
h3
    {font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;}
h4
    {font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;}

pre
    {font-family:unifont,
        lucida console,monospace,Monaco;font-size:16px;line-height:1;padding-left:20px}

p
    {font-family:Garamond, Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;font-size: 16px;}

ul
    {list-style-type: "> ";}

x
    {color:#93f1ff}

hl
    {color:#fff;background-color:#4f4b54}

.sol-a
        {color: #fff;}
.sol-td
        {width: 150px;}
.sag-td
        {width: 310px;}
.ana-tr {
    vertical-align: top;
    text-align: left;
}
.ana-table {
    border: 0px ;
}
.yazitipi 
    {font-family: Garamond, Georgia, 'Times New Roman', Times, serif;}
.monotip
        {font-family:lucida console, monospace, Monaco; font-size: 14px ;}